---
import type { ExperienceType } from "@/types.ts";
import { formattedPeriod } from "@/utils/formattedPeriod.ts";
import resume from "@/assets/resume.json";
import { Separator } from "@/components/ui/separator.tsx";
import { MinusIcon } from "lucide-react";
import BaseLayout from "@/layouts/BaseLayout.astro";

export function getStaticPaths() {
  const { work: experiences }: { work: ExperienceType[] } = resume;

  return experiences.map((experience) => ({
    params: { name: experience.name.toLowerCase() },
    props: { experience },
  }));
}

const { experience } = Astro.props;
---

<BaseLayout>
  <div class="mb-10 border-gray-400">
    <div class="items-center justify-between sm:flex">
      <div class="inline-flex items-center">
        <!-- <a
          href={`/experiences`}
          class="p-1 text-background bg-foreground rounded-full mr-4"
        >
          <MinusIcon className="w-4 h-4" />
        </a> -->
        <p class="text-xl" transition:name="experience-name">
          {experience.position},
          <a
            href={experience.url}
            target="_blank"
            class="text-xl font-bold underline"
          >
            {experience.name}
          </a>
        </p>
      </div>
      <p
        class="justify-self-end text-sm dark:text-white"
        transition:name="experience-dates"
      >
        {
          formattedPeriod({
            startDate: experience.startDate,
            endDate: experience.endDate,
          })
        }
      </p>
    </div>
    <Separator
      className="my-6 bg-gradient-to-r from-background via-gray-800/50 to-background"
    />
    <p
      class="text-sm italic dark:text-white"
      transition:name="experience-summary"
    >
      {experience.summary}
    </p>
    <ul class="list-disc pt-6 sm:px-4">
      {
        experience.highlights.map((highlight) => (
          <li class="pt-4 text-sm dark:text-white">{highlight}</li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
