---
import type { EducationType } from "../types.ts";
import { formattedPeriod } from "../utils/formattedPeriod.ts";
import resume from "../assets/resume.json";

const { education } = resume;
---

<div>
  <h2 class="pb-8 text-2xl font-bold text-gray-700 dark:text-white">
    Education
  </h2>
  {
    education.map((educ, index) => (
      <div class="pb-12">
        <div class="items-center justify-between pb-6 sm:flex">
          <p class="text-xl text-blue-700 dark:text-blue-400">
            {educ.studyType},{" "}
            <a
              href={educ.url}
              target="_blank"
              class="text-xl font-semibold text-blue-700 underline dark:text-blue-400"
            >
              {educ.institution}
            </a>
          </p>
          <p class="justify-self-end text-sm dark:text-white">
            {formattedPeriod({
              startDate: educ.startDate,
              endDate: educ.endDate,
            })}
          </p>
        </div>
        <p class="text-sm italic dark:text-white">{educ.area}</p>
        <ul class="list-disc pt-8 sm:pl-16">
          {educ.courses.map((course) => (
            <li class="pt-2 text-sm dark:text-white">{course}</li>
          ))}
        </ul>
      </div>
    ))
  }
</div>
