---
import type { ExperienceType } from "../types.ts";
import { formattedPeriod } from "../utils/formattedPeriod.ts";
import resume from "../assets/resume.json";
import { Separator } from "./ui/separator.tsx";
const { work: experiences }: { work: ExperienceType[] } = resume;
---

<div>
  <h2 class="mb-8 text-2xl font-bold">Experiences</h2>
  {
    experiences.map((experience) => (
      <div class="mb-10 border-gray-400 pb-6">
        <div class=" items-center justify-between pb-2 sm:flex ">
          <p class="text-xl">
            {experience.position},{" "}
            <a
              href={experience.url}
              target="_blank"
              class="text-xl font-bold underline"
            >
              {experience.name}
            </a>
          </p>
          <p class="justify-self-end text-sm dark:text-white">
            {formattedPeriod({
              startDate: experience.startDate,
              endDate: experience.endDate,
            })}
          </p>
        </div>
        <Separator className="my-4 bg-gradient-to-r from-background via-gray-700/50 to-background" />
        <p class="text-sm italic dark:text-white">{experience.summary}</p>
        <ul class="list-disc pt-6 sm:px-16">
          {experience.highlights.map((highlight) => (
            <li class="pt-4 text-sm dark:text-white">{highlight}</li>
          ))}
        </ul>
      </div>
    ))
  }
</div>
