---
import type { SkillType } from "../types.ts";
import { Separator } from "@/components/ui/separator";
interface Props {
  skills: SkillType[];
}

const { skills } = Astro.props;
const currentPath = Astro.url.pathname;
---

  {
    skills.map((skill) => (
      <h2 class="text-md mb-3 font-bold" transition:name={skill.name}>{skill.name}</h2>
      <div class={`mb-6 flex items-center flex-wrap gap-y-3 gap-x-2 ${currentPath !== '/' ? 'justify-end' : ''}`}>
        {skill.keywords.map((keyword, index) => (
          <>
            <p class="text-sm dark:text-white" transition:name={`${skill.name}-${keyword}`}>{keyword}</p>
            {index !== skill.keywords.length - 1 && (
              <Separator
                className="h-4 bg-gradient-to-b from-background via-gray-700/50 to-background"
                orientation="vertical"
              />
            )}
          </>
        ))}
      </div>
    ))
  }
