---
import Menu from "../components/Menu.astro";
import "../styles/globals.css";
import { ViewTransitions } from "astro:transitions";
import { BorderTrail } from "../components/ui/border-trail";

const currentPath = Astro.url.pathname;
const borderTrailSize = currentPath === "/interests" ? 200 : 500;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <ViewTransitions />
  </head>
  <body class="h-screen bg-background cursor-none" transition:name="hero">
    <div
      class="md:flex-row flex flex-col md:justify-center justify-between items-center h-screen"
    >
      <div
        class="relative overflow-hidden border border-transparent cursor-auto z-10 bg-background/90"
        transition:name="card"
      >
        <slot />
        <BorderTrail size={borderTrailSize} client:load />
      </div>
      <Menu isDark={true} toggleDark={() => null} />
    </div>
    <div
      id="move"
      class="hidden md:block"
      transition:persist
      transition:name="move"
    >
    </div>
  </body>
</html>

<script is:inline>
  const move = document.getElementById("move");

  document.addEventListener("astro:page-load", () => {
    document.body.onpointermove = (event) => {
      const { clientX, clientY } = event;

      move.animate(
        {
          left: `${clientX}px`,
          top: `${clientY}px`,
        },
        { duration: 600, fill: "forwards" },
      );
    };
  });
</script>

<style is:global>
  #move {
    /* opacity: 0.5; */
    height: 30px;
    aspect-ratio: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    mix-blend-mode: difference;
    background: white;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
  }
</style>
