---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Skills from "@/components/Skills.astro";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import resume from "../assets/resume.json";

const { basics, skills } = resume;
---

<BaseLayout>
  <Card
    className="overflow-hidden max-w-[95vw] md:max-w-[60vw] max-h-[90vh] rounded-none flex flex-col"
  >
    <CardHeader
      className="relative flex flex-col md:flex-row justify-between gap-4 border-b"
    >
      <CardTitle className="flex md:flex-col xl:flex-row gap-2">
        <img
          src={basics.picture}
          alt="profile"
          class="rounded-full mr-10 h-24 w-24"
          loading="lazy"
          transition:name="image"
        />
        <div class="flex flex-col" transition:name="title">
          <h1 class="text-2xl font-bold text-primary mb-4">
            {basics.name}
          </h1>
          <div>
            <p class="text-sm dark:text-white">{basics.label}</p>
            <p class="text-sm dark:text-white">{basics.email}</p>
            <p class="text-sm dark:text-white">{basics.location.city}</p>
            <a
              href={basics.profiles[0].url}
              class="w-min pt-2 text-sm"
              target="_blank"
            >
              <!-- GitHub icon can be added here if needed -->
            </a>
          </div>
        </div>
      </CardTitle>

      <div class="max-w-[600px] flex flex-col items-end">
        <Skills skills={skills} />
      </div>
    </CardHeader>

    <CardContent className="overflow-auto pt-8">
      <slot />
    </CardContent>
  </Card>
</BaseLayout>
