---
import type { EducationType } from "@/types.ts";
import resume from "@/assets/resume.json";
import { formattedPeriod } from "@/utils/formattedPeriod.ts";
import { ArrowLeftIcon } from "lucide-react";
import BaseLayout from "@/layouts/BaseLayout.astro";

export function getStaticPaths() {
  const { education }: { education: EducationType[] } = resume;

  return education.map((education) => ({
    params: { type: education.studyType.toLowerCase() },
    props: { education },
  }));
}

const { education } = Astro.props;
---

<BaseLayout>
  <div class="pb-12">
    <div class="items-center justify-between pb-6 sm:flex">
      <div class="inline-flex items-center">
        <!-- <a
          href={`/education`}
          class="p-1 text-background bg-foreground rounded-full mr-4"
        >
          <ArrowLeftIcon className="w-4 h-4" />
        </a> -->
        <p
          class="text-xl"
          style={{
            viewTransitionName: `education-title`,
          }}
        >
          {education.studyType},{" "}
          <a href={education.url} target="_blank" class="text-xl font-semibold">
            {education.institution}
          </a>
        </p>
      </div>
      <p
        class="justify-self-end text-sm dark:text-white"
        style={{
          viewTransitionName: `education-dates`,
        }}
      >
        {
          formattedPeriod({
            startDate: education.startDate,
            endDate: education.endDate,
          })
        }
      </p>
    </div>
    <p
      class="text-sm italic dark:text-white"
      style={{
        viewTransitionName: `education-area`,
      }}
    >
      {education.area}
    </p>
    <ul class="list-disc pt-8 sm:pl-16">
      {
        education.courses.map((course) => (
          <li class="pt-2 text-sm dark:text-white">{course}</li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
